@media screen and (max-width: 700px) {
	header h1 {
		padding-left: .25em;
	}

	header h2, header h3 {
		padding-left: 1em;
	}
}

body {
	font-family: "Source Sans Pro";
	height: 100%;
	color: #000;
	width: 100%;
}

footer {
	background-color: #95a5a6;
	font-size: 1.25em;
	height: 3em;
	list-style-type: none;
	position: relative;
	bottom: 0;
	width: 100%;
	z-index: 9998;
	text-transform: uppercase;
}

h1 {
	font-size: 3em;
	letter-spacing: .25em;
	padding-top: 3em;
	padding-bottom: .5em;
	color: #FFF;
	text-transform: uppercase;
}

h2 {
	color: #FFF;
	font-size: 1em;
	letter-spacing: .25em;
	line-height: 2em;
}

h3 {
	font-size: 1.5em;
	letter-spacing: .25em;
	line-height: 2em;
	padding-top: 2em;
	text-transform: uppercase;
}

h3 a {
	color: #FFF;
	text-decoration: none;
	padding: 1em 2em;
	background-color: #f15a22;
	border-radius: 50px;
}

h4 {
	letter-spacing: .25em;
	display: inline-block;
}

header {
	background-color: #ecf0f1;
	height: 95vh;
	background-attachment: fixed;
	background-position: center padding-top;
	background-size: cover;
	background-image: url(img/bg-img-1.png);
}

header h1 {
	font-size: 3em;
	color: #FFF;
	padding-top: 4em;
}

header h2 {
	color: #FFF;
	line-height: 2em;
	padding-top: 1em;
}

header h3 {
}

header h3 a {
	color: #FFF;
	text-decoration: none;
	background-color: #f15a22;
	border-radius: 50px;
}

header h3 a:hover {
	transition: ease-in-out .5s;
	background-color: #B5244A;
}

header h4 {
	padding-left: .75em;
}

header ul {
	/*padding-right: .75em;
	float: right;
	margin-top: -1em;*/
	list-style-type:none;
	margin:0;
	padding:0;
	position: relative;
	float: right;
}

header ul li {
	/*display: inline;
	padding-right: 1em;*/
	display:inline-block;
	float: left;
	margin-right: 1px;
}

header ul li a {
	/*color: #FFF;
	text-decoration: none;*/
	display:block;
	min-width: 100px;
	text-align: center;
	color: #fff;
	text-decoration: none;
	height: 40px;
}

header ul li a:hover {
	color: #F02E61;
}

img {
}

.dropdown {
	display: block;
	position: relative;
}

.dropdown-content {
	background-color: #FFFFFF;
	display: none;
	position: absolute;
	left: 0;
	text-align: left;
}

.dropdown:hover .dropdown-content {
	display: block;
}

.left-container {
	display: inline;
	float: left;
	height: 95vh;
	width: 33%;
}

.mid-container {
	display: inline;
	float: left;
	height: 95vh;
	width: 34%;
	text-align: center;
}

.navbar {
	background-color: #ffffff;
	font-size: 1.25em;
	height: 1.25em;
	letter-spacing: .25em;
	list-style-type: none;
	padding: 15px;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 9999;
	text-transform: uppercase;
}

.navbar a {
	color: #000000;
	text-decoration: none;
}

.navbar li {
	display: inline;
	padding: 0 32px;
}

.right-container {
	display: inline;
	float: right;
	height: 95vh;
	width: 33%;
}

.art {
	/*background-attachment: fixed;
	background-position: center center;
	background-size: cover;*/
	background: linear-gradient(rgba(0,0,0,.5), rgba(0,0,0,.5)), url(img/bg-img-2.png);
}

.design {
	/*background-attachment: fixed;
	background-position: center bottom;
	background-size: cover;*/
	background: url(img/bg-img-3.png);
}

.outer-container {
 height: 100vh;
}

.inner-container {
	width: 33.3%;
	display: inline-block
}