@media screen and (max-width: 700px) {
	/*header h1 {
		padding-left: .25em;
	}

	header h2, header h3 {
		padding-left: 1em;
	}*/
}

body {
	color: #0a0a0b;
	font-family: "Source Sans Pro";
	font-weight: 400;
	height: 100%;
	letter-spacing: .05em;
}

h1 {
	font-size: 4em;
	font-weight: 500;
	letter-spacing: .08em;
	padding: 2.5em 0 0 0;
	text-transform: uppercase;
}

h2 {
	color: #FFF;
	font-size: 2.5em;
	font-weight: 300;
	letter-spacing: .07em;
	padding: 1.5em 0 1.5em 0;
	text-transform: uppercase;
}

h3 {
	color: #FFF;
	font-size: 2em;
	font-weight: 500;
	padding: 1em 0 1em 0;
	text-decoration: none;
	text-transform: uppercase;
}

h4 {
	display: inline-block;
}

/*h3 a {
	color: #FFF;
	padding: 1em 1em;
	text-decoration: none;

	border-color: #f15a22;
	border-style: solid;
	border-width: 3px;
}*/

p {
	color: #0a0a0b;
	font-size: 1.5em;
	font-weight: 500;
	letter-spacing: .05em;
	padding: 1em 0 0 0;


	text-align: justify;
}

header {
	background-attachment: fixed;
	background-position: center center;
	background-size: cover;
	background-image: url(img/bg-img-1.png);
	height: 95vh;

}

header h1 {
	text-align: center;
}

header h2 {
	text-align: center;
}

header ul {
	list-style-type:none;
	margin:0;
	padding:0;
	position: relative;
	float: right;
}

header ul li {
	display:inline-block;
	float: left;
}

header ul li a {
	display:block;
	min-width: 100px;
	text-align: center;
	text-decoration: none;
	height: 40px;
}

header ul li a:hover {
	border-style: solid;
	border-color: #f15a22;
	border-width: 0 0 3px 0;
}

img {
	padding: 2em 0 0 0;
}

.navbar {
	border-style: solid;
	border-color: #0a0a0b;
	border-width: 0 0 3px 0;
	font-size: 1.25em;
	height: 1.25em;
	list-style-type: none;
	padding: 15px;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 9999;
	text-transform: uppercase;
}

.navbar a {
	color: #0a0a0b;
	text-decoration: none;
}

.navbar li {
	display: inline-block;
	padding: 0 32px;
}

#art {
	background-attachment: fixed;
	background-position: center center;
	background-size: cover;
	background: url(img/bg-img-2.png);
	height: 85vh;

	margin: auto;
	max-width: 100%;
	text-align: center;
	padding: 2em 0 0 0;
}

#about {
	background-attachment: fixed;
	background-position: center center;
	background-size: cover;
	background: url(img/bg-img-3.png);
	height: 85vh;

	margin: auto;
	max-width: 100%;
	text-align: center;
	padding: 2em 0 4em 0;
}

#about p {
	margin: auto;
	max-width: 40em;
}

#about h1 {
	padding: 1em 0 0 0;
}

#about h3 {
	color: #0a0a0b;
}

#design {
	background-attachment: fixed;
	background-position: center center;
	background-size: cover;
	background: url(img/bg-img-1.png);
	height: 85vh;

	margin: auto;
	max-width: 100%;
	text-align: center;
	padding: 2em 0 0 0;
}

.outer-container {
	display: block;

	margin: auto;
	max-width: 50%;
}

.inner-container {
}

.button {
	margin: auto;
	min-width: 33%;
}

.button h1 a {
	border-color: #FFF;
	border-radius: .08em;
	border-style: solid;
	border-width: 3px;
	color: #0a0a0b;
	padding: .25em 2em .25em 2em;
	text-decoration: none;

}

.button h1 a:hover {
	background: #f15a22;
	border-color: #f15a22;
	border-style: solid;
	border-width: 3px;
	color: #FFF;
	padding: .25em 2em .25em 2em;
	text-decoration: none;
}

#social-media li {
	display: inline-block;
	min-width: 100px;
}

footer {
	background-color: #95a5a6;
	font-size: 1.25em;
	height: 3em;
	list-style-type: none;
	position: relative;
	width: 100%;
	text-transform: uppercase;
	z-index: 9998;
}